# FOLDERS
beer-time
node_modules
pomodoro-vue/
pomodoro/
shopping-list-components/
shopping-list-jquery/
shopping-list-plugin
shopping-list-single-file-components/test-shopping-list
shopping-list-single-file-components/shopping-list/temp/
shopping-list-single-file-components/shopping-list/test-src/
shopping-list-single-file-components/shopping-list/test2-src/
shopping-list-single-file-components/shopping-list/test3-src/
shopping-list-single-file-components/broken-shopping-list/
shopping-list-single-file-components/old-test-shopping-list/
shopping-list-single-file-components/shopping-list2/
shopping-list-single-file-components/shopping-list3/
shopping-list-vue/
shopping-list
test/
vue-cli/
vue-component/
vue-csp-compliant/
vue-custom-directive/
vue-dev-build/
vue-npm/
vue-plugin/
vue-shopping-list-components/

# FILES
.DS_Store
package-lock.json
shopping-list-single-file-components/shopping-list/package.json
shopping-list-single-file-components/shopping-list/package-lock.json